html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body{
    background-color:bisque
}

.main-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 400px 2.5fr;
    grid-template-rows: 70px 11fr 1.1fr;
    grid-template-areas: 
    "nav nav-link-bar"
    "main-panel body-img"
    "links body-img";
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: nav;
    background-color: bisque;
    padding: 0 20px;
    align-items: center;
}


.nav-logo{
    height: 20px;
}

.nav-link-bar{
    background-color: rgb(65, 10, 42);
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link-bar li{
    list-style: none;
    padding: 8px 16px;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.nav-link-bar li:hover{
    background-color: rgba(48, 7, 31, 0.505);
    border-radius: 4px;
}

.nav-link-bar a {
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(255, 241, 224);
    text-decoration: none;
}




.body-img{
    grid-area: body-img;
    background-image: url(images/melb-museum-copyright-radam23.jpg);
    background-size: cover;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-color: rgb(29, 16, 26);
}




.main-panel{
    grid-area: main-panel;
    background-color: bisque;
    padding: 20px;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}




.lrg-text-heading{
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    margin: 40px 0 0 0;
}

.sml-text-heading{
    width: 85%;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    margin: 40px 0 0 0;
}



.page-button{
    padding: 8px 10px;
    border-radius: 3px;
    width: fit-content;
    font-size: .85rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: bisque;
    background-color: black;
    cursor: pointer;
    margin: 30px 0 0 0;
}

.page-button:hover{
    background-color: rgb(36, 36, 36);
}

.reduce-margin{
    margin: 15px 0 0 0;
}

.contact-btn-width{
    width: 150px;
}

.twitter-icon{
    height: 15px;
    margin: 1px 10px 0 0;
}
.facebook-icon{
    height: 18px;
    margin: 1px 10px 0 0;
}
.mail-icon{
    height: 15px;
    margin: 1px 10px 0 0;
}





.links{
    grid-area:links;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contact-btn portfolio-btn";
}

.contact-btn, .portfolio-btn{
    list-style: none;
}

.contact-btn a{
    grid-area: contact-btn;
    font-size: .95rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: bisque;
    letter-spacing: .5px;
    display: flex;
    background-color: rgb(53, 14, 30);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.portfolio-btn a{
    grid-area: portfolio-btn;
    font-size: .95rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: bisque;
    letter-spacing: .5px;
    display: flex;
    background-color: rgb(129, 105, 96);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.active-nav-link{
    color: bisque;
    border-bottom: bisque;
    border-bottom-width: 2px;
    border-bottom-style:solid;
    padding: 0 0 5px 0;
}

.mobile-nav-links{
    display: none;
}

.about-panel{
    display: none;
}
.contact-panel{
    display: none;
}
.portfolio-nav-btn{
    display: none;
}


@media only screen and (max-width: 822px) {

    .main-grid{
        display: grid;
        height: 100vh;
        grid-template-columns: 280px 2.5fr;
        grid-template-rows: 70px 11fr 1.1fr;
        grid-template-areas: 
        "nav nav-link-bar"
        "main-panel body-img"
        "links body-img";
    }

    .lrg-text-heading{
        font-size: 2.3rem;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        margin: 40px 0 0 0;
    }

    .sml-text-heading{
        width: 85%;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.7;
        margin: 40px 0 0 0;
    }

    .body-img{
        grid-area: body-img;
        background-image: url(images/melb-museum-copyright-radam23.jpg);
        background-size: cover;
        background-position: 80% 50%;
        background-repeat: no-repeat;
        background-color: rgb(29, 16, 26);
    }

}




@media only screen and (max-width: 745px) {

    .main-grid{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 70px 11fr 2fr;
        grid-template-areas: 
        "nav mobile-nav mobile-nav mobile-nav"
        "main-panel main-panel main-panel main-panel"
        "links links links links";
    }

    .mobile-nav-links{
        grid-area: mobile-nav;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        background-color: bisque;
        padding: 0 20px;
    }

    .mobile-nav-links ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mobile-nav-links li{
        list-style: none;
        padding: 0 0 0 20px;
    }

    .mobile-nav-links a{
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(43, 8, 22);
        text-decoration: none;
    }


    .nav-link-bar{
        display: none;
    }

    .body-img{
        display: none;
    }

    .lrg-text-heading{
        font-size: 3rem;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        margin: 40px 0 0 0;
    }

    .sml-text-heading{
        width: 85%;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.7;
        margin: 40px 0 0 0;
        width: 70%;
        min-width: 330px;
    }

    .body-img{
        grid-area: body-img;
        background-image: url(images/melb-museum-copyright-radam23.jpg);
        background-size: cover;
        background-position: 80% 50%;
        background-repeat: no-repeat;
        background-color: rgb(29, 16, 26);
    }

    .active-nav-link{
        border-bottom: rgb(126, 75, 88);
        border-bottom-width: 2px;
        border-bottom-style:solid;
        padding: 0 0 5px 0;
    }


}



@media only screen and (max-width: 420px) {

    .main-grid{
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px auto auto;
        grid-template-areas: 
        "nav mobile-nav"
        "main-panel main-panel"
        "about-panel about-panel"
        "contact-panel contact-panel";
    }

    .portfolio-nav-btn{
        display: flex;
        margin: 15px 0 20px 0;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(82, 11, 35);
        padding: 6px;
        border-radius: 4px;
    }

    .portfolio-nav-btn a{
        text-decoration: none;
        font-weight: 400;
        color: rgb(82, 11, 35);
        width: 100px;
        font-size: 1rem;
    }

    .mobile-nav-links{
        grid-area: mobile-nav;
    }

    .mobile-nav-links ul{
        display: none;
        flex-direction: row;
        align-items: center;
    }

    .mobile-nav-links li{
        list-style: none;
        padding: 0 0 0 20px;
    }

    .mobile-nav-links a{
        font-size: .8rem;
        font-weight: 600;
        letter-spacing: .5px;
        color: rgb(82, 11, 35);
        text-decoration: none;
    }

    .nav-link-bar{
        display: none;
    }

    .body-img{
        display: none;
    }


/*<------ MAIN PANEL   ------------------------>*/

    .main-panel{
        grid-area: main-panel;
        display: flex;
        height: 85vh;
        align-items: top;
        justify-content: left;
        background-color: bisque;
        color:black;
        padding: 20px 20px 70px 20px;
    }

    .lrg-text-heading{
        font-size: 2.4rem;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        margin: 10px 0 0 0;
    }

    .sml-text-heading{
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.7;
        margin: 20px 0 0 0;
        width: 90%;
        min-width: auto;
    }

    .body-img{
        grid-area: body-img;
        background-image: url(images/melb-museum-copyright-radam23.jpg);
        background-size: cover;
        background-position: 80% 50%;
        background-repeat: no-repeat;
        background-color: rgb(29, 16, 26);
    }

    .active-nav-link{
        border-bottom: rgb(126, 75, 88);
        border-bottom-width: 2px;
        border-bottom-style:solid;
        padding: 0 0 5px 0;
    }

    .links{
        display: none;
    }




/*<------ ABOUT PANEL   ------------------------>*/

    .about-panel{
        grid-area: about-panel;
        height: 85vh;
        display: flex;
        background-color: rgb(63, 14, 42);
        height: 100vh;
        padding: 0px 20px 70px 20px;
        display: flex;
        align-items: top;
    }
    
    .about-content-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }

    .about-text{
        color:bisque;
        width: 100%;
    }

    .about-button{
        padding: 8px 10px;
        border-radius: 3px;
        width: fit-content;
        font-size: .85rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        background-color: bisque;
        color: rgb(49, 16, 34);
        border: bisque;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        margin: 30px 0 0 0;
    }


/*<------ CONTACT PANEL   ------------------------>*/

    .contact-panel{
        grid-area: contact-panel;
        background-color: bisque;
        color:black;
        height: auto;
        padding: 70px 20px 70px 20px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    




}











/*--------- PORTFOLIO -----------------------------------------------------*/
/*--------- PORTFOLIO -----------------------------------------------------*/
/*--------- PORTFOLIO -----------------------------------------------------*/

/*--------- PORTFOLIO GRID ---------------------------------*/

.portfolio-grid{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto auto auto auto auto;
    grid-template-areas: 
    "portfolio-nav"
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "section7";
    background-color: rgb(29, 16, 26);
}

/*--------- NAV ---------------------------------*/

.portfolio-nav{
    grid-area: portfolio-nav;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 10, 42);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.portfolio-nav li{
    list-style: none;
    padding: 8px 16px;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.portfolio-nav  a {
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(255, 241, 224);
    text-decoration: none;
}

.nav-logo-light{
    height: 20px;
}


/*--------- PORTFOLIO TEXT & STYLES -----------------------*/

.portfolio-pre-title{
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(94, 94, 94);
    font-weight: 400;
    margin-bottom: 5px;
}
.portfolio-lrg-title{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
}
.portfolio-text{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    margin: 15px 0 15px 0;
}

.portfolio-list{
    margin: 15px 0 15px 0;
}

.portfolio-list li{
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding: 0 0 0 1em;
}

.list-extra-margin{
    margin: 0 0 15px 0;
}

/*--------- SECTION LAYOUTS ---------------------------------*/
/*--------- SECTION LAYOUTS ---------------------------------*/


/*--------- CONTAINER GLOBAL EDITS (MOBILE)------------------*/

.text-container1{
    grid-area: text-container1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 80px 30px 0px 30px;
}

.text-container2{
    grid-area: text-container2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0 30px 30px 30px;
}


/*--------- SECTION 1 ------------------*/

.section1{
    margin-top: 20px;
    height: 100vh;
    grid-area: section1;
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "text-container1 section-1-img"
    "text-container2 section-1-img";
    background-color: bisque;
}

        /*--------- CONTAINER EDITS ------------------*/
        .add-padding-desktop{
            padding: 80px 30px 30px 30px;
        }

        /*--------- IMAGES ------------------*/

        .section-1-img{
            grid-area: section-1-img;
            background-size:190px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .s1-walley{
            background-image: url(images/walley-logo.svg);
            background-color: rgb(65, 53, 48);
        }

        .s1-rmit{
            background-image: url(images/rmit-logo.svg);
            background-color: rgb(54, 36, 58);
        }

        .s1-radam23{
            background-image: url(images/radam23-logo.svg);
            background-color: rgb(58, 32, 45);
        }


/*--------- SECTION 2 ------------------*/

.section2{
    margin-top: 20px;
    height: 100vh;
    grid-area: section2;
    display: grid;
    grid-template-columns: 1fr .35fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "section-2-img text-container1"
    "section-2-img text-container2";
    background-color: bisque;
}

        /*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/
        .section-2-img{
            grid-area: section-2-img;
            background-size:cover;
            background-repeat: no-repeat;
            width: 100%;
            background-color: rgb(24, 24, 24);
        }

        .s2-walley{
            background-image: url(images/melb-walkway-copyright-radam23.png);
            background-position: 50% 50%;
        }

        .s2-rmit{
            background-image: url(images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg);
            background-position: 50% 50%;
        }

        .s2-radam23{
            background-image: url(images/nathan-dumlao-71u2fOofI-U-unsplash.jpg);
            background-position: 50% 50%;
        }



/*--------- SECTION 3 ------------------*/

.section3{
    margin-top: 20px;
    height: 90vh;
    grid-area: section3;
    display: grid;
    grid-template-columns: 1fr .35fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "section-3-img text-container1"
    "section-3-img text-container2";
    background-color: bisque;
}

        /*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/
        .section-3-img{
            grid-area: section-3-img;
            background-size:cover;
            background-repeat: no-repeat;
            width: 100%;
            background-color: rgb(24, 24, 24);
        }

        .s3-walley{
            background-image: url(images/EDITED\ victor-xok-BHNVH_Ov9P8-unsplash\ 2.jpg);
            background-position: 50% 50%;
        }

        .s3-rmit{
            background-image: url(images/annie-spratt-sggw4-qDD54-unsplash.jpg);
            background-position: 50% 50%;
        }

        .s3-radam23{
            background-image: url(images/brooke-cagle-oTweoxMKdkA-unsplash.jpg);
            background-position: 50% 50%;
        }


/*--------- SECTION 4 ------------------*/

.section4{
    margin-top: 20px;
    height: 100vh;
    grid-area: section4;
    display: grid;
    grid-template-columns: 1fr .35fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "section-4-img text-container1"
    "section-4-img text-container2";
    background-color: bisque;
}

        /*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/
        .section-4-img{
            grid-area: section-4-img;
            background-size:cover;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
        }
        
        .s4-walley{
            background-image: url(images/bantersnaps-5U_28ojjgms-unsplash.jpg);
            background-position: 50% 50%;
            background-color: rgb(24, 24, 24);
        }
        
        .s4-rmit{
            background-image: url(images/gabriele-ribeiro-1razH7iMbQo-unsplash.jpg);
            background-position: 50% 65%;
            background-color: rgb(24, 24, 24);
        }
        
        .s4-radam23{
            background-image: url(images/radam23-moodboard-copyright-radam23.png);
            background-position: 50% 50%;
            background-size:90%;
            background-color: rgb(54, 26, 46);
        }


/*--------- SECTION 5 ------------------*/

.section5{
    margin-top: 20px;
    height: auto;
    min-height: 90vh;
    grid-area: section5;
    display: grid;
    grid-template-columns: 1fr .35fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "section-5-img text-container1"
    "section-5-img text-container2";
    background-color: bisque;
}

/*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/
        .section-5-img{
            grid-area: section-5-img;
            background-size:cover;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            background-color: rgb(24, 24, 24);
        }
        
        .s5-walley{
            background-image: url(images/robert-zunikoff-ko7Tp_LyAt4-unsplash.jpg);
            background-position: 50% 50%;
        }
        
        .s5-rmit{
            background-image: url(images/israel-andrade-YI_9SivVt_s-unsplash.jpg);
            background-position: 50% 50%;
        }
        
        .s5-radam23{
            background-image: url(images/joshua-newton-egK73XCwN8I-unsplash.jpg);
            background-position: 50% 50%;
        }
        

/*--------- SECTION 6 ------------------*/

.section6{
    margin-top: 20px;
    height: auto;
    min-height: 90vh;
    grid-area: section6;
    display: grid;
    grid-template-columns: 1fr .35fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "section-6-img text-container1"
    "section-6-img text-container2";
    background-color: bisque;
}

/*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/

        .section-6-img{
            grid-area: section-6-img;
            background-size:cover;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            background-color: rgb(24, 24, 24);
        }
        
        .s6-walley{
            background-image: url(images/cristian-escobar-abkEAOjnY0s-unsplash.jpg);
            background-position: 50% 50%;
        }
        
        .s6-rmit{
            background-image: url(images/brooke-cagle-NoRsyXmHGpI-unsplash.jpg);
            background-position: 50% 50%;
        }
        
        .s6-radam23{
            background-image: url(images/markus-spiske-hvSr_CVecVI-unsplash.jpg);
            background-position: 50% 50%;
        }
        


/*--------- SECTION 7 ------------------*/

.section7{
    margin-top: 20px;
    height: 90vh;
    grid-area: section7;
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-rows:.5fr 1fr;
    grid-template-areas: 
    "text-container1 section-7-img"
    "text-container2 section-7-img";
    background-color: bisque;
}

/*--------- CONTAINER EDITS ------------------*/


        /*--------- IMAGES ------------------*/

        .section-7-img{
            grid-area: section-7-img;
            background-size:cover;
            background-repeat: no-repeat;
            height:100%;
            width: 100%;
            background-color: rgb(24, 24, 24);
        }

        .s7-walley{
            background-image: url(images/walleybanque-app-copyright-radam23png.png);
            background-position: 50% 50%;
            background-size:100%;
            background-color: rgb(66, 56, 49);
        }

        .s7-rmit{
            background-image: url(images/rmit-final-prototype-copyright-radam23.png);
            background-position: 50% 50%;
            background-size:75%;
            background-color: rgb(53, 31, 50);
        }

        .s7-radam23{
            background-image: url(images/radam23-website-screenshot-copyright-radam23.png);
            background-position: 50% 50%;
            background-size:90%;
            background-color: rgb(53, 31, 50);
        }


/*<==========  TABLET RESPONSIVE  =========================>*/
/*<==========  TABLET RESPONSIVE  =========================>*/

@media only screen and (max-width: 1024px) {

.portfolio-off{
    display: none;
}



/*--------- CONTAINER GLOBAL EDITS (MOBILE)------------------*/

.text-container1{
    padding: 50px 30px 0px 30px;
}

/*<------ SECTION 1 (MOBILE)  ------------>*/

.section1{
    height: auto;
    grid-area: section1;
    grid-template-columns: 1fr;
    grid-template-rows:100vh auto auto;
    grid-template-areas: 
    "section-1-img"
    "text-container1"
    "text-container2";
}

        .add-padding-mobile{
            padding: 50px 30px 30px 30px;
        }

/*<------ SECTION 2 (MOBILE)  ------------>*/

.section2{
    height: auto;
    grid-area: section2;
    grid-template-columns: 1fr;
    grid-template-rows:100vh auto auto;
    grid-template-areas: 
    "section-2-img"
    "text-container1"
    "text-container2";
}
        /*--------- CONTAINER EDITS ------------------*/


/*<------ SECTION 3 (MOBILE)  ------------>*/

    .section3{
        height: auto;
        grid-area: section3;
        grid-template-columns: 1fr;
        grid-template-rows:90vh auto auto;
        grid-template-areas: 
        "section-3-img"
        "text-container1"
        "text-container2";
    }
        /*--------- CONTAINER EDITS ------------------*/

/*<------ SECTION 4 (MOBILE)  ------------>*/

    .section4{
        height: auto;
        grid-area: section4;
        grid-template-columns: 1fr;
        grid-template-rows:90vh auto auto;
        grid-template-areas: 
        "section-4-img"
        "text-container1"
        "text-container2";
    }

    .section5{
        height: auto;
        grid-area: section5;
        grid-template-columns: 1fr;
        grid-template-rows:80vh auto auto;
        grid-template-areas: 
        "section-5-img"
        "text-container1"
        "text-container2";
    }
    
    .section6{
        height: auto;
        grid-area: section6;
        grid-template-columns: 1fr;
        grid-template-rows:80vh auto auto;
        grid-template-areas: 
        "section-6-img"
        "text-container1"
        "text-container2";
    }

    .section7{
        height: auto;
        grid-area: section7;
        grid-template-columns: 1fr;
        grid-template-rows:80vh auto auto;
        grid-template-areas: 
        "section-7-img"
        "text-container1"
        "text-container2";
    }


}


/*<==========  TABLET RESPONSIVE  =========================>*/
/*<==========  TABLET RESPONSIVE  =========================>*/

@media only screen and (max-width: 420px) {

    .portfolio-off{
        display: none;
    }

    .portfolio-nav li{
        display: none;
    }