html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body{
    background-color: rgb(252, 240, 220);
}

/*< =======  PAGE GRID  =======  >*/

.page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "landing-block"
    "ux-ui-block"
    "about-block"
    "contact-block";
}


/*< =======  LANDING BLOCK DESKTOP  =================================  >*/

.landing-block{
    grid-area: landing-block;
    display: grid;
    grid-template-columns: 380px 1fr 1fr 1fr ;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    "nav nav nav nav"
    "landing-section landing-img landing-img landing-img";
    margin: 0 5vw;
    background-color: rgb(252, 240, 220);
}

/*< =======  NAV  DESKTOP =======  >*/

nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 30px;
}

nav a{
    color: rgb(160, 115, 102);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .5px;
}

nav a:hover{
    color: rgb(163, 34, 17);
}

.nav-logo{
    height: 22px;
}

.navlink-3{
    border-color: rgb(163, 34, 17);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 5px 8px;
    font-weight: 400;
}
.navlink-3 a{
    color: rgb(163, 34, 17);
    font-weight: 600;
}
.navlink-3 a:hover{
    color: rgb(163, 34, 17);
}


/*< =======  LANDING SECTION DESKTOP  =======  >*/

.landing-section{
    grid-area:landing-section;
    display: flex;
    justify-content: top;
    align-items: flex-start;
    flex-direction: column;
    max-height: 630px;
    padding: 30px 0 30px 0;
}

.page-title{
    font-family: 'Anton', sans-serif;
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 1.5;
}

.page-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    width: 78%;
    margin: 30px 0 0 0;
}

.landing-img-box{
    grid-area: landing-img;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding: 30px 0px 30px 30px;
    max-height: 100%;
}

.landing-image{
    height: 72vh;
    width: 64vw;
    max-width: 800px;
    background-image: url(images/melb-museum-copyright-radam23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 60%;
    filter: drop-shadow(7px 10px 10px rgb(71, 71, 71))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}

.page-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    padding: 20px;
    width: fit-content;
    max-height: 30px;
    border-radius: 5px;
    margin: 40px 0 0 0;
    cursor: pointer;
}

.page-button:hover {
    background-color: rgb(49, 49, 49);
}

.page-button img{
    height: 8px;
    margin: 2px 0 0 8px;
}



/*< =======  UX UI SECTION DESKTOP  =================================  >*/

.ux-ui-block{
    grid-area: ux-ui-block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(87, 7, 44);    
}

.ux-ui-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    height: 100%;
    margin: 0 5vw;
}

.ux-ui-text{
    font-family: 'Anton', sans-serif;
    font-size: 7.2rem;
    letter-spacing: 4px;
    font-weight: 100;
    color: rgb(243, 230, 213);
    padding-bottom: 10px;
}



/*< =======  ABOUT SECTION DESKTOP  =================================  >*/

.about-block{
    grid-area: about-block;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    ". . "
    "about-section about-img";
    margin: 0 5vw;
    background-color: rgb(252, 240, 220); 
}

.about-section{
    grid-area:about-section;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-height: 380px;
    padding: 30px 0 40% 0;
}

.about-img-box{
    grid-area: about-img;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding: 30px 0px 30px 30px;
    max-height: 100%;
}

.about-image{
    height: 100%;
    min-height: 440px;
    width: 50vw;
    min-width: 320px;
    background-image: url(images/laptop-image-lrg-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 30% 70%;
    filter: drop-shadow(0 0 0 rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}




/*< =======  CONTACT SECTION DESKTOP  =================================  >*/

.contact-block{
    grid-area: contact-block;
    display: grid;
    grid-template-columns: 380px 1fr 1fr 1fr ;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    ". . . ."
    "contact-section contact-img contact-img contact-img";
    background-color: rgb(233, 210, 182); 
}

.contact-section{
    grid-area:contact-section;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-height: 380px;
    padding: 30px 0 40% 0;
    margin: 0 0 0 5vw;
}

.contact-img-box{
    grid-area: contact-img;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding: 30px 0px 30px 30px;
    max-height: 100%;
    margin: 0 0 0 5vw;
}

.contact-image{
    height: 100%;
    min-height: 440px;
    width: 100%;
    min-width: 320px;
    background-image: url(images/socials-image-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 60% 50%;
    filter: drop-shadow(0 0 0 rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}


.twitter-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}
.facebook-icon img{
    height: 18px;
    margin: 0 10px 0 0;
}
.mail-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}

.top-margin-reduce{
    margin: 20px 0 0 0;
}




/*< ============  TABLET    ===========================  >*/
/*< ============  TABLET    ===========================  >*/

@media only screen and (max-width: 1030px) {

    .page-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1fr 1fr 1fr;
        grid-template-areas: 
        "landing-block"
        "ux-ui-block"
        "about-block"
        "contact-block";
    }
    

/*< =======  LANDING BLOCK TABLET ====================================  >*/

    .landing-block{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 10vh 90vh;
        grid-template-areas: 
        "nav nav"
        "landing-section landing-img"
        "landing-section landing-img";
    }

 
    /*< ====  LANDING SECTION TABLET ====================================  >*/

    .landing-section{
        grid-area:landing-section;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-height: auto;
        padding: 50px 0 40% 0;
    }
    
    .page-title{
        font-family: 'Anton', sans-serif;
        font-size: 3.2rem;
        font-weight: 400;  
        padding: 0;
        margin: 0;
        line-height: 1.5;
        white-space: nowrap;
    }
    
    .page-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1rem;
        line-height: 1.6;
        font-weight: 400;
        width: 270px;
        margin: 30px 0 0 0;    
    }
    
    .landing-img-box{
        grid-area: landing-img;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0 0 0;
        max-height: auto;
    }
    
    .landing-image{
        height: 100%;
        min-height: auto;
        width: 38vw;
        min-width:  230px;
        background-image: url(images/pancake-full-stack-copyright-rAdam23.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 85%;
        filter: drop-shadow(0px 0px 0px rgb(71, 71, 71))saturate(100%);
        border-radius: 10px;
    }
    
    
    .page-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: black;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: .9rem;
        padding: 20px;
        width: fit-content;
        max-height: 30px;
        border-radius: 5px;
        margin: 40px 0 0 0;
        cursor: pointer;
    }

    .page-button:hover {
        background-color: rgb(49, 49, 49);
    }

    .page-button img{
        height: 8px;
        margin: 2px 0 0 8px;
    }






/*< =======  UX UI SECTION TABLET ====================================  >*/

    .ux-ui-block{
        grid-area: ux-ui-block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgb(87, 7, 44);    
    }

    .ux-ui-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        height: 100%;
        margin: 0 4vw;
    }

    .ux-ui-text{
        font-family: 'Anton', sans-serif;
        font-size: 7.2rem;
        letter-spacing: 4px;
        font-weight: 100;
        color: rgb(243, 230, 213);
        padding-bottom: 10px;
    }





/*< =======  ABOUT SECTION TABLET ====================================  >*/

.about-block{
    grid-area: about-block;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 10vh 40vh 40vh;
    grid-template-areas: 
    ". "
    "about-section"
    "about-img";
    margin: 0 4vw;
    background-color: rgb(252, 240, 220); 
}

.about-section{
    grid-area:about-section;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    max-height: 380px;
    padding: 30px 0 0 0;
}

.about-img-box{
    grid-area: about-img;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0px;
    max-height: 100%;
}

.about-image{
    height: 100%;
    width: 100%;
    background-image: url(images/laptop-image-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: 80% 80%;
    filter: drop-shadow(0 0 0 rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}







/*< =======  CONTACT SECTION TABLET ====================================  >*/

.contact-block{
    grid-area: contact-block;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    ". . "
    "contact-section contact-img ";
    background-color: rgb(233, 210, 182); 
}

.contact-img-box{
    grid-area: contact-img;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding: 30px 0px 30px 30px;
    max-height: 100%;
    margin: 0 4vw 0 4vw;
}

.contact-image{
    height: 100%;
    width: 100%;
    background-image: url(images/socials-image-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 70% 60%;
    filter: drop-shadow(0 0 0 rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}



.twitter-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}
.facebook-icon img{
    height: 18px;
    margin: 0 10px 0 0;
}
.mail-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}

.top-margin-reduce{
    margin: 20px 0 0 0;
}

.top-margin-add{
    margin: 50px 0 0 0;
}


}






/*< ============  MOBILE    ===========================  >*/
/*< ============  MOBILE    ===========================  >*/

@media only screen and (max-width: 750px) {

    .page-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1fr 80vh 1fr;
        grid-template-areas: 
        "landing-block"
        "ux-ui-block"
        "about-block"
        "contact-block";
    }
    

/*< =======  LANDING BLOCK MOBILE  ===========================  >*/


    .landing-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 55vh 35vh;
        grid-template-areas: 
        "nav nav"
        "landing-section landing-section "
        "landing-img landing-img";
    }

 
    /*< ====  LANDING SECTION MOBILE  ===========================  >*/

    .landing-section{
        grid-area:landing-section;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-height: auto;
        padding: 50px 0 0 0;
    }
    
    .page-title{
        font-family: 'Anton', sans-serif;
        font-size: 3rem;
        font-weight: 400;  
        padding: 0;
        margin: 0;
        line-height: 1.5;
        white-space: nowrap;
    }
    
    .page-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.15rem;
        line-height: 1.6;
        font-weight: 400;
        width: 270px;
        margin: 30px 0 0 0;    
    }
    
    .landing-img-box{
        grid-area: landing-img;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0 0 0;
        max-height: auto;
    }
    
    .landing-image{
        height: 100%;
        width: 100%;
        background-image: url(images/pancake-full-stack-copyright-rAdam23.svg);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 90% 70%;
        filter: drop-shadow(0px 0px 0px rgb(71, 71, 71))saturate(100%);
        border-radius: 10px;
    }
    
    
    .page-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: black;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: .9rem;
        padding: 20px;
        width: fit-content;
        max-height: 30px;
        border-radius: 5px;
        margin: 40px 0 0 0;
        cursor: pointer;
    }

    .page-button:hover {
        background-color: rgb(49, 49, 49);
    }

    .page-button img{
        height: 8px;
        margin: 2px 0 0 8px;
    }






/*< =======  UX UI SECTION MOBILE  ===========================  >*/

    .ux-ui-block{
        grid-area: ux-ui-block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgb(87, 7, 44);    
    }

    .ux-ui-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        height: 100%;
        margin: 0 4vw;
    }

    .ux-ui-text{
        font-family: 'Anton', sans-serif;
        font-size: 7.2rem;
        letter-spacing: 4px;
        font-weight: 100;
        color: rgb(243, 230, 213);
        padding-bottom: 10px;
    }





/*< =======  ABOUT SECTION MOBILE  ===========================  >*/

.about-block{
    grid-area: about-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 40vh;
    grid-template-areas: 
    "."
    "about-section"
    "about-img";
    margin: 0 4vw;
    background-color: rgb(252, 240, 220); 
    height: auto;
}

.about-section{
    grid-area:about-section;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-height: auto;
    padding: 0;
}

.about-img-box{
    grid-area: about-img;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    max-height: auto;
}

.about-image{
    height: 100%;
    width: 100%;
    min-height: auto;
    max-width: 430px;
    background-image: url(images/laptop-image-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 90% 55%;
    filter: drop-shadow(0px 0px 0px rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}







/*< =======  CONTACT SECTION MOBILE ===========================  >*/

.contact-block{
    grid-area: contact-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto auto;
    grid-template-areas: 
    "."
    "contact-section"
    "contact-img ";
    background-color: rgb(233, 210, 182); 
}


.contact-img-box{
    grid-area: contact-img;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    padding: 30px 0px 30px 30px;
    max-height: 100%;
    margin: 0 4vw 0 4vw;
}

.contact-image{
    height: 100%;
    width: 100%;
    background-image: url(images/socials-image-copyright-rAdam23.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 80% 40%;
    filter: drop-shadow(0 0 0 rgb(71, 71, 71))saturate(100%);
    border-radius: 10px;
}



.twitter-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}
.facebook-icon img{
    height: 18px;
    margin: 0 10px 0 0;
}
.mail-icon img{
    height: 16px;
    margin: 2px 10px 0 0;
}

.top-margin-reduce{
    margin: 20px 0 0 0;
}

.top-margin-add{
    margin: 50px 0 0 0;
}


}








/*< ============  MOBILE    ===========================  >*/
/*< ============  MOBILE    ===========================  >*/

@media only screen and (max-width: 595px) {

    .page-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100vh 90vh 100vh;
        grid-template-areas: 
        "landing-block"
        "ux-ui-block"
        "about-block"
        "contact-block";
    }
    

/*< =======  LANDING BLOCK MOBILE  ===========================  >*/


    .landing-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 50vh 40vh;
        grid-template-areas: 
        "nav nav"
        "landing-section landing-section "
        "landing-img landing-img";
        min-height: 650px;
    }

 
/*< ====  LANDING SECTION MOBILE  ===========================  >*/

    .landing-section{
        grid-area:landing-section;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-height: auto;
        padding: 60px 0 0 0;
        height: auto;
    }

    .landing-img-box{
        grid-area: landing-img;
        display: none;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0 0 0;
        max-height: auto;
    }
    

    .navlink-1,.navlink-2{
        display: none;
    }

    nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: flex-end;
        align-items: center;
    }

    nav li{
        list-style: none;
    }

    nav a{
        color: rgb(160, 115, 102);
        text-decoration: none;
        font-size: .9rem;
        font-weight: 600;
        letter-spacing: .5px;
    }
    
    .page-title{
        font-family: 'Anton', sans-serif;
        font-size: 2.8rem;
        font-weight: 400;  
        padding: 0;
        margin: 0;
        line-height: 1.5;
        white-space: nowrap;
    }
    
    .page-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.6;
        font-weight: 400;
        width: 280px;
        margin: 20px 0 0 0;    
    }
    
    
    .page-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: black;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: .9rem;
        padding: 20px;
        width: fit-content;
        max-height: 30px;
        border-radius: 5px;
        margin: 40px 0 0 0;
        cursor: pointer;
    }

    .page-button:hover {
        background-color: rgb(49, 49, 49);
    }

    .page-button img{
        height: 8px;
        margin: 2px 0 0 8px;
    }


    /*< =======  UX UI SECTION MOBILE  ===========================  >*/

    .ux-ui-block{
        grid-area: ux-ui-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: rgb(87, 7, 44);    
    }

    .ux-ui-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        height: auto;
        margin: 0 4vw;
    }

    .ux-ui-text{
        font-family: 'Anton', sans-serif;
        font-size: 5.2rem;
        letter-spacing: 4px;
        font-weight: 100;
        color: rgb(243, 230, 213);
        padding-bottom: 10px;
    }


    /*< =======  ABOUT SECTION MOBILE  ===========================  >*/

    .about-block{
        grid-area: about-block;
        display: flex;
        flex-direction: column;
        margin: 0 4vw;
        background-color: rgb(252, 240, 220); 
        justify-content: flex-start;
        padding: 120px 0;
    }

    .about-img-box{
        grid-area: landing-img;
        display: none;
        align-items: center;
        padding: 0 0 0 0;
        max-height: auto;
    }

    .about-image{
        height: 100%;
        width: 100%;
        max-width: 330px;
        background-image: url(images/laptop-image-copyright-rAdam23.svg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: 60% 60%;
        filter: drop-shadow(0px 0px 0px rgb(71, 71, 71))saturate(100%);
        border-radius: 10px;
    }

    /*< =======  CONTACT SECTION MOBILE ===========================  >*/

    .contact-block{
        grid-area: contact-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(233, 210, 182); 
        min-height: 650px;
    }

    .contact-section{
        grid-area:contact-section;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        max-height: auto;
        padding: 0 0 0 0;
        margin: 0 0 0 4vw;
    }

    .contact-img-box{
        grid-area: contact-img;
        display: none;
    }

    .twitter-icon img{
        height: 16px;
        margin: 2px 10px 0 0;
    }
    .facebook-icon img{
        height: 18px;
        margin: 0 10px 0 0;
    }
    .mail-icon img{
        height: 16px;
        margin: 2px 10px 0 0;
    }

    .top-margin-reduce{
        margin: 20px 0 0 0;
    }

    .top-margin-add{
        margin: 50px 0 0 0;
    }


}























/*< =======  PORTFOLIO PAGE GRID  ========================================  >*/
/*< =======  PORTFOLIO PAGE GRID  ========================================  >*/
/*< =======  PORTFOLIO PAGE GRID  ========================================  >*/
/*< =======  PORTFOLIO PAGE GRID  ========================================  >*/
/*< =======  PORTFOLIO PAGE GRID  ========================================  >*/

.portfolio-page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "portfolio-landing-block"
    "section-1-block"
    "section-2-block"
    "section-3-block"
    "section-4-block"
    "section-5-block"
    "section-6-block";
}


/*< =======  PORTFOLIO LANDING BLOCK DESKTOP  =================================  >*/

.portfolio-landing-block{
    grid-area: portfolio-landing-block;
    display: grid;
    grid-template-columns: 380px 1fr 1fr 1fr;
    grid-template-rows: 10vh 85vh;
    grid-template-areas: 
    "nav nav nav nav"
    "portfolio-landing-section portfolio-landing-img portfolio-landing-img portfolio-landing-img";
    margin: 0 5vw;
    background-color: rgb(252, 240, 220);
    min-height: 800px;
}

.portfolio-landing-section{
    grid-area:portfolio-landing-section;
    display: flex;
    justify-content: top;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 30px 0;
}

.portfolio-landing-img-box{
    grid-area: portfolio-landing-img;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px 30px 0 30px;
    height: 100%;
}

.portfolio-landing-image{
    height: 37vw;
    width: 37vw;
    background-color: rgb(248, 248, 248);
    background-image: url(images/walleybanque-logo.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(71, 71, 71));
    border-radius: 10px;
    transform: translateZ(0);
}

.active-nav{
    color: rgb(163, 34, 17);   
}


.portfolio-heading-title{
    font-family: 'Anton', sans-serif;
    font-size: 3.9rem;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
}

.portfolio-sub-heading-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 2;
    font-weight: 400;
    width: 90%;
    margin: 30px 0 0 0;
}

.portfolio-case-study-title{
    font-family: 'Anton', sans-serif;
    font-size: 2.15rem;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .75px;
    text-transform: uppercase;
}

.portfolio-case-study-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .75px;
    font-weight: 400;
    width: 290px;
    margin: 20px 0 0 0;
}

.portfolio-case-study-text li{
    font-size: 1rem;
}

.list-styling li{
    text-indent: 0rem;
    margin: 0 0 10px 1.1em;
}

.no-margin{
    margin: 0 0 10px 0;
}

.light-font{
    color: rgb(248, 248, 248);
}



/*< ============  SECTION 1 - PORTFOLIO    ===========================  >*/


.section-1-block{
    grid-area: section-1-block;
    display: grid;
    grid-template-columns: 1fr 1fr .7fr .7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-1-img section-1-img section-1-content section-1-content ";
    background-color: rgb(78, 22, 52); 
    height: auto;
    min-height: 900px;
    padding: 30px 0;
}

.section-1-content{
    grid-area:section-1-content;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 0;
    margin: 0;
}

.section-1-img-box{
    grid-area: section-1-img;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh 9vw 5vh 0;
    margin: 0;
}

.section-1-image-walley{
    height: 100%;
    width: 100%;
    background-image: url(images/walley-1-melb-walkway-copyright-radam23.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 0px;
    transform: translateZ(0);
}




/*< ============  SECTION 2 - PORTFOLIO    ===========================  >*/


.section-2-block{
    grid-area: section-2-block;
    display: grid;
    grid-template-columns:.7fr .7fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-2-content section-2-content section-2-img section-2-img";
    background-color: rgb(235, 221, 201); 
    padding: 50px 30px 50px 0;
}

.section-2-content{
    grid-area:section-2-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 0 5vw;
    margin: 5vw 5vw 5vw 5vw;
}

.section-2-img-box{
    grid-area: section-2-img;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.section-2-image-walley{
    height: 80%;
    width: 80%;
    background-image: url(images/walley-2-EDITED\ victor-xok-BHNVH_Ov9P8-unsplash\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}


/*< ============  SECTION 3 - PORTFOLIO    ===========================  >*/

.section-3-block{
    grid-area: section-3-block;
    display: grid;
    grid-template-columns:1fr 1fr .7fr .7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-3-img section-3-img section-3-content section-3-content";
    background-color: rgb(224, 201, 178); 
    padding: 50px 30px 50px 0;
}

.section-3-content{
    grid-area:section-3-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5vw 5vw 5vw 5vw;
}

.section-3-img-box{
    grid-area: section-3-img;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.section-3-image-walley{
    height: 80%;
    width: 80%;
    background-image: url(images/walley-3-bantersnaps-5U_28ojjgms-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}




/*< ============  SECTION 4 - PORTFOLIO    ===========================  >*/

.section-4-block{
    grid-area: section-4-block;
    display: grid;
    grid-template-columns: 1fr 1fr .7fr .7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-4-img section-4-img section-4-content section-4-content ";
    background-color: rgb(78, 22, 52); 
    height: auto;
    min-height: 900px;
    padding: 30px 0;
}

.section-4-content{
    grid-area:section-4-content;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px 0;
    margin: 0;
}

.section-4-img-box{
    grid-area: section-4-img;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh 9vw 5vh 0;
    margin: 0;
}

.section-4-image-walley{
    height: 100%;
    width: 100%;
    background-image: url(images/walley-4-robert-zunikoff-ko7Tp_LyAt4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 0px;
}



/*< ============  SECTION 5 - PORTFOLIO    ===========================  >*/


.section-5-block{
    grid-area: section-5-block;
    display: grid;
    grid-template-columns:.7fr .7fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-5-content section-5-content section-5-img section-5-img";
    background-color: rgb(235, 221, 201); 
    padding: 50px 30px 50px 0;
}

.section-5-content{
    grid-area:section-5-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 0 5vw;
    margin: 5vw;
}

.section-5-img-box{
    grid-area: section-5-img;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.section-5-image-walley{
    height: 80%;
    min-height: 700px;
    width: 80%;
    background-image: url(images/walley-5-cristian-escobar-abkEAOjnY0s-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}


/*< ============  SECTION 6 - PORTFOLIO    ===========================  >*/


.section-6-block{
    grid-area: section-6-block;
    display: grid;
    grid-template-columns:1fr 1fr .6fr .6fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "section-6-img section-6-img section-6-content section-6-content";
    background-color: rgb(224, 201, 178); 
    padding: 50px 30px 50px 0;
}

.section-6-content{
    grid-area:section-6-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5vw 5vw 5vw 8vw;
}

.section-6-img-box{
    grid-area: section-6-img;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.section-6-image-walley{
    height: 80%;
    width: 80%;
    background-image: url(images/walley-6-walleybanque-app-copyright-radam23png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}


@media only screen and (max-width: 1423px) {

    .section-6-image-walley{
        background-image: url(images/walley-6-mobile-Walleybanque-App-\(mobile\)-copyright-rAdam23.png);
        background-size: 430px;
    }

    .section-6-content{
        grid-area:section-6-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 5vw 5vw 5vw 0;
    }
    
}





/*< ============  SECTION 6 - PORTFOLIO - MOBILE    ===========================  >*/


@media only screen and (max-width: 1150px) {


/*< ============ SECTION FONTS    ===========================  >*/

.portfolio-heading-title{
    font-family: 'Anton', sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
}

.portfolio-sub-heading-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 2;
    font-weight: 400;
    width: 90%;
    margin: 30px 0 0 0;
}


.portfolio-case-study-title{
    font-family: 'Anton', sans-serif;
    font-size: 2.8rem;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .75px;
    text-transform: uppercase;
}

.portfolio-case-study-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: .75px;
    font-weight: 400;
    width: 90%;
    margin: 20px 0 0 0;
}

.portfolio-case-study-text li{
    font-size: 1.1rem;
}

/*< ============  NAVBAR FONTS & IMGS    ===========================  >*/

nav{
    min-height: 65px;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    color: rgb(160, 115, 102);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .5px;
}

.nav-logo{
    height: 20px;
}

/*< ============  LANDING SECTION    ===========================  >*/

.portfolio-landing-block{
    grid-area: portfolio-landing-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto auto;
    grid-template-areas: 
    "nav"
    "portfolio-landing-img"
    "portfolio-landing-section";
    margin: 0 5vw;
    background-color: rgb(252, 240, 220);
    min-height: auto;
}


.portfolio-landing-img-box{
    grid-area: portfolio-landing-img;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 5vw;
    margin: 90px 0;
}

.portfolio-landing-section{
    grid-area:portfolio-landing-section;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: 40px 5vw 120px 5vw;
}

.portfolio-landing-image{
    height: 70vw;
    min-height: 400px;
    max-height: 490px;
    width: 100%;
    min-width: 400px;
    max-width: 490px;
    background-color: rgb(248, 248, 248);
    background-image: url(images/walleybanque-logo.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(71, 71, 71));
    border-radius: 10px;
    transform: translateZ(0);
}


/*< ============  SECTION 1 - PORTFOLIO    ===========================  >*/


.section-1-block{
    grid-area: section-1-block;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "section-1-img"
    "section-1-content";
    background-color: rgb(78, 22, 52); 
    padding: 5vw;
    justify-content: center;
    align-items: center;
}

.section-1-content{
    grid-area:section-1-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5vw;
}

.section-1-img-box{
    grid-area: section-1-img;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 90px;
    margin: 0;
    height: auto;
    width: 100%;
}

.section-1-image-walley{
    height: 100%;
    min-height: 700px;
    width: 100%;
    background-image: url(images/walley-1-melb-walkway-copyright-radam23.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 0px;
    transform: translateZ(0);
}


/*< ============  SECTION 2 - PORTFOLIO    ===========================  >*/

.section-2-block{
    grid-area: section-2-block;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "section-2-img"
    "section-2-content";
    background-color: rgb(235, 221, 201); 
    padding: 5vw;
    justify-content: center;
    align-items: center;
}

.section-2-content{
    grid-area:section-2-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5vw;
}

.section-2-img-box{
    grid-area: section-2-img;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 5vw;
    margin: 0;
    height: auto;
    width: 100%;
}

.section-2-image-walley{
    height: 100%;
    min-height: 700px;
    width: 100%;
    background-image: url(images/walley-2-EDITED\ victor-xok-BHNVH_Ov9P8-unsplash\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 43% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 10px;
    transform: translateZ(0);
}


/*< ============  SECTION 3 - PORTFOLIO    ===========================  >*/

    .section-3-block{
        grid-area: section-3-block;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "section-3-img"
        "section-3-content";
        background-color: rgb(224, 201, 178);  
        padding: 5vw;
        justify-content: center;
        align-items: center;
    }
    
    .section-3-content{
        grid-area:section-3-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 5vw;
    }
    
    .section-3-img-box{
        grid-area: section-3-img;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 5vw;
        margin: 0;
        height: auto;
        width: 100%;
    }
    
    .section-3-image-walley{
        height: 100%;
        min-height: 700px;
        width: 100%;
        background-image: url(images/walley-3-bantersnaps-5U_28ojjgms-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
        border-radius: 10px;
        transform: translateZ(0);
    }


/*< ============  SECTION 4 - PORTFOLIO    ===========================  >*/


.section-4-block{
    grid-area: section-4-block;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "section-4-img"
    "section-4-content";
    background-color: rgb(78, 22, 52); 
    padding: 5vw;
    justify-content: center;
    align-items: center;
}

.section-4-content{
    grid-area:section-4-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5vw;
}

.section-4-img-box{
    grid-area: section-4-img;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 90px;
    margin: 0;
    height: auto;
    width: 100%;
}

.section-4-image-walley{
    height: 100%;
    min-height: 700px;
    width: 100%;
    background-image: url(images/walley-4-robert-zunikoff-ko7Tp_LyAt4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
    border-radius: 0px;
    transform: translateZ(0);
}


/*< ============  SECTION 5 - PORTFOLIO    ===========================  >*/

    .section-5-block{
        grid-area: section-5-block;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "section-5-img"
        "section-5-content";
        background-color: rgb(235, 221, 201); 
        padding: 5vw;
        justify-content: center;
        align-items: center;
    }
    
    .section-5-content{
        grid-area:section-5-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 5vw;
    }
    
    .section-5-img-box{
        grid-area: section-5-img;
        display: flex;
        align-items: top;
        justify-content: flex-start;
        padding: 60px 5vw;
        margin: 0;
        height: auto;
        max-height: auto;
        width: 100%;
    }
    
    .section-5-image-walley{
        height: 100%;
        min-height: 700px;
        width: 100%;
        background-image: url(images/walley-5-cristian-escobar-abkEAOjnY0s-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
        border-radius: 10px;
        transform: translateZ(0);
    }

    
/*< ============  SECTION 6 - PORTFOLIO    ===========================  >*/

    .section-6-block{
        grid-area: section-6-block;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "section-6-img" 
        "section-6-content";
        background-color: rgb(224, 201, 178); 
        padding: 5vw;
        justify-content: center;
        align-items: center;
    }

    .section-6-content{
        grid-area: section-6-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 5vw;
    }
    
    .section-6-img-box{
        grid-area: section-6-img;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        margin: 0;
        height: auto;
        width: 100%;
    }
    
    .section-6-image-walley{
        height: 100%;
        min-height: 700px;
        width: 100%;
        background-image: url(images/walley-6-walleybanque-app-copyright-radam23png.png);
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
        border-radius: 10px;
        transform: translateZ(0);
    }
    
    


}


@media only screen and (max-width: 875px) {

    nav ul{
        display: flex;
        flex-direction: row;
        width: 80px;
        justify-content: flex-end;
        align-items: center;
    }

    nav a{
        color: rgb(160, 115, 102);
        text-decoration: none;
        font-size: .9rem;
        font-weight: 600;
        letter-spacing: .5px;
    }

    .nav-logo{
        height: 20px;
    }

    .section-6-image-walley{
        height: 100%;
        min-height: 900px;
        width: 100%;
        background-image: url(images/walley-6-mobile-Walleybanque-App-\(mobile\)-copyright-rAdam23.png);
        background-repeat: no-repeat;
        background-size: 600px;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
        border-radius: 10px;
        transform: translateZ(0);
    }
}
    




    @media only screen and (max-width: 696px) {

        
    nav ul{
        display: flex;
        flex-direction: row;
        width: 80px;
        justify-content: flex-end;
        align-items: center;
    }

    nav a{
        color: rgb(160, 115, 102);
        text-decoration: none;
        font-size: .9rem;
        font-weight: 600;
        letter-spacing: .5px;
    }

    .nav-logo{
        height: 18px;
    }

    .navlink-5,.navlink-6,.navlink-7{
        display: none;
    }


    /*< ============  FONTS    ===========================  >*/

    .portfolio-heading-title{
        font-family: 'Anton', sans-serif;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.5;
        text-transform: uppercase;
    }
    
    .portfolio-sub-heading-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 2;
        font-weight: 400;
        width: 90%;
        margin: 30px 0 0 0;
    }

    .portfolio-case-study-title{
        font-family: 'Anton', sans-serif;
        font-size: 2.15rem;
        font-weight: 100;
        line-height: 1.5;
        letter-spacing: .75px;
        text-transform: uppercase;
    }

    .portfolio-case-study-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 2;
        letter-spacing: .75px;
        font-weight: 400;
        width: 90%;
        margin: 20px 0 0 0;
    }

    .portfolio-case-study-text li{
        font-size: 1rem;
    }



    /*< ============  SECTIONS    ===========================  >*/

    .portfolio-landing-image{
        height: 70vw;
        min-height: 300px;
        max-height: 570px;
        width: 100%;
        min-width: 200px;
        max-width: 570px;
        background-color: rgb(248, 248, 248);
        background-image: url(images/walleybanque-logo.svg);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(71, 71, 71));
        border-radius: 10px;
        transform: translateZ(0);
    }


    .section-1-img-box,.section-2-img-box,.section-3-img-box,.section-4-img-box,.section-5-img-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 30px;
        margin: 0;
        height: 60vh;
        min-height: 700px;
        width: 100%;
    }

    .section-1-image-walley,.section-2-image-walley,.section-3-image-walley,.section-4-image-walley,.section-5-image-walley{
        min-height: 300px;
    }

    .section-6-block{
        grid-area: section-6-block;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "section-6-img" 
        "section-6-content";
        background-color: rgb(224, 201, 178); 
        padding: 5vw;
        justify-content: center;
        align-items: center;
    }

    .section-6-img-box{
        grid-area: section-6-img;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
    }
    

    .section-6-image-walley{
        height: 100%;
        min-height: 140vw;
        width: 100%;
        background-image: url(images/walley-6-mobile-Walleybanque-App-\(mobile\)-copyright-rAdam23.png);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: 50% 50%;
        filter: drop-shadow(7px 10px 10px rgb(19, 5, 12))saturate(110%);
        border-radius: 10px;
        transform: translateZ(0);
    }

}


